
@font-face {
	font-family: sfPro;
	src: url(../fonts/SFPro.ttf);
}
h1,
p,
div,
input,
button {
	font-family: sfPro;
}
.title {
	color: #ffffff;
	font-weight: 700;
	font-size: 24px;
}
.sub-title {
	color: #9c9ea3;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
}
.validation-title {
	color: #9c9ea3;
	font-weight: 400;
	font-size: 14px;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
}
.center-align {
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type=email], select,
input[type=password], select,
input[type=text], select,
input[type=username], select,
input[type=confirm-password], select {
	width: 100%;
	height: 56px;
	padding: 8px 16px;
	margin-right: 16px;
	border: 1px solid #494a4d;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: sfPro;
	color: #9c9ea3;
	background-color: #242527;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=username]:focus,
input[type=confirm-password]:focus {
	outline: none;
	border: 2px solid #9f0ccc;
}
.form-invalid {
	outline: none;
	border: 2px solid #ff453a;
}

#letter.valid,
#special-character.valid,
#number.valid,
#length.valid {
	content: url("../img/checkmarkSm.png");
	width: 13px;
	height: 10px;
}

#letter.invalid,
#special-character.invalid,
#number.invalid,
#length.invalid {
	content: url("../img/closeSm.png");
	width: 14px;
	height: 14px;
}

#cancelimg{
	content:url("../img/cancel.png");
	width:14px; height:14px;
	padding-bottom: 15px;
}
