body {
  background: #242527 !important;
}

.back {
  color: white;
  text-transform: none;
  text-decoration: underline;
}

.submit {
  /* background-color: #9f0bcc !important;
  color: #d6d8db !important; */
  border-radius: 8px;
  text-transform: none;
}

.template {
  margin: 0;
}

.close {
  padding: 15px 5px;
}

#kc-container-wrapper {
  background-color: #232527 !important;
  height: 100vh;
  width: 100% !important;
  border-radius: 8px;
}

#kc-header {
  text-align: left;
  color: white;
	width: 96%!important;
  margin-bottom: 0;
	margin-top: 4%!important;
}

#kc-header-wrapper {
  font-weight: bold;
  font-size: 28px;
}

#kc-header-p {
  font-size: 16px;
  color: #5c5f63;
  margin-bottom: 0;
}

#kc-content {
  width: 100%;
  height: inherit;
  background-color: inherit;
  box-shadow: none;
  padding-top: 10px;
}

#kc-form-wrapper {
  height: 100%;
}

form {
  position: relative;
}

#kc-form-buttons {
  height: 50px;
}

form button {
  height: 45px !important;
}

input {
  color: #d6d8db !important;
}

.mdc-floating-label {
  color: #5c5f63 !important;
}

form .material-icons {
  color: #5c5f63 !important;
}

.invalid {
  font-size: 20px;
  vertical-align: bottom;
}

.register-button-container {
  position: fixed;
  bottom: 25px;
  left: 15px;
  right: 25px;
}

.border {
  height: 1px;
  background: #1e5799;
  background: linear-gradient(to right, #9f0bcc 50%, #5c5f63 50%);
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 100px;
}

.validation-section {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 40px 40px;
  column-gap: 15px;
  padding-top: 15px;
  color: #5c5f63;
}


.mdc-text-field--outlined .mdc-text-field__input{
	padding: 25px 25px 27px 45px!important;
}
#kc-login {
	float: right;
	width: 100%;
}






/*********************TEST*********************************************/
@font-face {
	font-family: sfPro;
	src: url(../fonts/SFPro.ttf);
}
h1,
p,
div,
input,
button {
	font-family: sfPro;
}
.title {
	color: #ffffff;
	font-weight: 700;
	font-size: 24px;
}
.sub-title {
	color: #9c9ea3;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
}
.validation-title {
	color: #9c9ea3;
	font-weight: 400;
	font-size: 14px;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
}
.center-align {
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type=email], select,
input[type=password], select,
input[type=text], select,
input[type=username], select,
input[type=confirm-password], select {
	width: 100%;
	height: 56px;
	padding: 8px 16px;
	margin-right: 16px;
	border: 1px solid #494a4d;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: sfPro;
	color: #9c9ea3;
	background-color: #242527;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=username]:focus,
input[type=confirm-password]:focus {
	outline: none;
	border: 2px solid #9f0ccc;
}
.form-invalid {
	outline: none;
	border: 2px solid #ff453a;
}

#letter.valid,
#special-character.valid,
#number.valid,
#length.valid {
	content: url("../img/checkmarkSm.png");
	width: 13px;
	height: 10px;
}

#letter.invalid,
#special-character.invalid,
#number.invalid,
#length.invalid {
	content: url("../img/closeSm.png");
	width: 14px;
	height: 14px;
}

#cancelimg{
	content:url("../img/cancel.png");
	width:14px; height:14px;
	padding-bottom: 15px;
}
/*

#kc-registration{
	display: none!important;
}
*/


